* {
  margin: 0;
}

body {
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  height: 681px;
  background-color: white;
}

.logo {
  width: 100%;
}

.content-container {
  padding: 0 30px;
}

a {
  text-decoration: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-container input {
  margin-bottom: 6px;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  border: 1px solid lightgray;
  background-color: #f1f1f1;
}

input[type="submit"] {
  padding: 7px 0;
  background-color: rgb(72, 159, 218);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 6px;
  font-weight: 700;
  font-size: 0.9rem;
}

.separator {
  display: flex;
  justify-content: center;
}

.forgot-container {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.forgot-container a {
  margin-top: 10px;
  text-align: center;
}
