* {
  margin: 0;
}

body {
  background-color: rgba(255, 255, 249, 0.938);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  width: 350px;
  height: 681px;
  background-color: white;
}

.logo {
  width: 100%;
  height: 110px;
}

.top-container {
  border: 1px solid #d6d0d0;
  margin: 0;
  padding: 0 32px;
}

a {
  text-decoration: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-container input {
  margin-bottom: 6px;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  border: 1px solid lightgray;
  background-color: #f1f1f1;
}

input[type="submit"] {
  padding: 7px 0;
  background-color: rgb(72, 159, 218);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 6px;
  font-weight: 700;
  font-size: 0.9rem;
}

.separator {
  display: flex;
  justify-content: center;
}

.forgot-container {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.forgot-container a {
  margin-top: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: #00376b;
}

.forgot-container > p {
  color: #385185;
  text-align: center;
  font-weight: 600;
}

.signup {
  border: 1px solid #d6d0d0;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

.signup a {
  color: #0095f6;
  font-weight: 600;
}

#get-app {
  margin: 1.4rem;
  text-align: center;
  font-size: 0.9rem;
}

.app-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.app-icons img {
  width: 38%;
  margin: 5px;
}

.footer {
}
